@import url(https://fonts.googleapis.com/css?family=PT+Sans);
/*font-family: 'PT Sans', sans-serif;*/
html{
  background-color: #8C0303;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
body * {
  margin: 0 auto;
  padding: 0 auto;
  width: 960px;
}
h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 3em;
}
#knot{
  width: 130px;
  float: right;
  margin-top: -165px;
  margin-right: 65px;
}
#about{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #FCF4F6;
  border-radius: 10px;
  border: 3px solid #000;
}
header {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}
#title{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.8em;
}
nav{
  margin-bottom: 90px;
}
ul{
  padding: 0px;
}
li {
  display: inline;
  text-decoration: none;
  margin-right: 15px;
}
a{
  text-decoration: none;
  padding: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3em;
}
a:link, a:visited{
  color: #0C0D0A;
}
a:hover, a:active{
  color: #FCF4F6;
}
#form{
  margin-top: 50px;
  width: 200px;
}
#intro{
  margin-top: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3em;
}
#hackIt{
  text-align: right;
  margin-top: 20px;
  font-size: 1.3em;
}
em {
    margin-right: 115px;
}
input{
  text-align: center;
  width: 200px;
  float: left;
  clear: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .8em;
}
#startButton{
  width: 150px;
  float: right;
  margin-right: 22px;
  font-size: .8em;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px 5px 5px 5px;
  clear: left;
}
footer{
  margin-top: 290px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
