  @import url(https://fonts.googleapis.com/css?family=PT+Sans);
  /*font-family: 'PT Sans', sans-serif;*/
html{
  background-color: #8C0303;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
* {
  margin: auto;
  padding: auto;
}
body {
  margin: 0px auto;
  padding: 0px auto;
  width: 960px;
}
.knot{
  width: 130px;
  float: right;
  margin-top: -157px;
  margin-right: 65px;
}
p{
  font-family: 'PT Sans', sans-serif;
  padding-top: -15px;
  font-size: .9em;
}
nav{
  margin-bottom: 90px;
}
h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 3em;
}
ul li {
  display: inline;
  list-style-type: none;
}
li{
  padding-right: 15px;
}
a{
  text-decoration: none;
  padding: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3em;
}
a:link, a:visited{
  color: #0C0D0A;
}
a:hover, a:active{
  color: #FCF4F6;
}
header{
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}
.container {
  height: 400px;
  width: 400px;
  margin: 5px;
  background-color: #FCF4F6;
  border-radius: 10px;
  border: 3px solid #000;
}
#question {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
#answer {
  float: left;
  clear: left;
  margin-top: 35px;
}
#hangman {
  float: right;
  margin-top: -416px;
}
#wrongAnswer {
  float: right;
  clear: right;
  margin-top: 35px;
}
#submitButton {
  clear: both;
}
#submit {
  margin-left: 165px;
}
#backToQuestion{
  float: right;
  margin-top: 20px;
  width: 200px;
  height: 32px;
  font-size: .8em;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px 5px 5px 5px;
  margin-right: 92px;
}
.gameButtons{
  margin-top: 20px;
  width: 100px;
  height: 32px;
  font-size: .8em;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px 5px 5px 5px;
}
#about{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #FCF4F6;
  border-radius: 10px;
  border: 3px solid #000;
}

#title{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.8em;
}
#form{
  margin-top: 50px;
  margin-left: 300px;
  width: 200px;
}
#intro{
  margin-top: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3em;
}
#hackIt{
  text-align: right;
  margin-top: 20px;
  font-size: 1.3em;
}
em {
    margin-right: 115px;
}
input{
  text-align: center;
  width: 200px;
  float: left;
  clear: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .8em;
}
#submit{
  float: left;
  margin-top: 5px;
  margin-left: 150px;
  width: 100px;
  height: 32px;
  font-size: .8em;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px 5px 5px 5px;
}

#startButton{
  width: 150px;
  float: right;
  margin-right: -68px;
  font-size: .8em;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px 5px 5px 5px;
  clear: left;
}
#source {
  padding-top: 210px;
  padding-bottom: 10px;
}
.sourceMaterial {
  font-size: .7em;
}
fieldset, label, input{
  width: 365px;
}
fieldset{
  border: none;
  height: 400px;
}
img {
  width: 390px;
  height: 300px;
  margin-left: 5px;

}
#canvasHangman {
  width: 400px;
  height: 400px;
}
.bioPic {
  width: 12em;
  height: 12em;
  margin: 1em;
  /*background-color: #FCF4F6;*/
  border-radius: 10px;
  border: 3px solid #000;
}
#bio1 {
  width: 450px;
  float: left;
  text-align: center;
}
#bio2 {
  width: 450px;
  float: right;
  text-align: center;
}
#bio3 {
  clear: right;
  text-align: center;
  padding-top: 3em;
}
#codeFellows {
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}
.biography{
  font-family: 'PT Sans', sans-serif;
  background-color: #FCF4F6;
  border-radius: 10px;
  border: 3px solid #000;
  padding: 4px;
}
#contactNav{
  padding-top: 45px;
}
footer{
  text-align: center;
  margin-top: 60px;
  font-family: 'PT Sans', sans-serif;
}
.bottomOfPage{
   margin-top:600px;
}
.radioButt{
    margin-top: -23px;
}
#testOne, #testTwo, #testThree, #testFour{
  float: right;
  margin-top: 45px;
  width: 325px;
}
